<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/mycss.css">
        <link rel="shortcut icon" href="favicon.ico">
        <title>Edit - VDK</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
        <div class="header">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <div style="width: 10%">
                    <img src="../img/logo_of_iot.png" alt="IOT" class="logo_iot_img">
                     for EveryOne
                     </div>
                  </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/setup">Settup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../control">Control</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <span class="btn btn-outline-success"><%=name%></span>
                        <a href="#" class="nav-link btn btn-outline-success">LOGOUT</a>
                    </form>
                </div>
            </nav>
        </div>

        <div class="card justify-content-center" style="width: 27rem;" >
          <img class="card-img-top" src="img/IOT_LOGO.png" alt="IOT_LOGO" width="100%" height="auto">
          <div class="card-body">
            <form action="/setup/<%=data._id%>" method="post">
                <table>
                    <tr>
                      <td colspan="2" class="text-center">
                        <h4>ID: <%=data._id%></h4>
                      </td>
                    </tr>
                    <tr>
                        <th>
                            <label>Tên thiết bị</label>
                        </th>
                        <th>
                            <input type="text" name="eqname" class="form-control" value="<%=data.name%>">
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <label>Tên thiết bị output 1:</label>
                        </td>
                        <td>
                            <input type="text" name="output1" class="form-control" value="<%=data.output1%>">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Tên thiết bị output 2:</label>
                        </td>
                        <td>
                            <input type="text" name="output2" class="form-control" value="<%=data.output2%>">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Tên thiết bị output 3:</label>
                        </td>
                        <td>
                            <input type="text" name="output3" class="form-control" value="<%=data.output3%>">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Tên thiết bị input 1:</label>
                        </td>
                        <td>
                            <input type="text" name="input1" class="form-control" value="<%=data.input1%>">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Tên thiết bị input 2:</label>
                        </td>
                        <td>
                            <input type="text" name="input2" class="form-control" value="<%=data.input2%>">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" class="btn btn-success" value="Submit">
                        </td>
                    </tr>
                </table>
            </form>
          </div>
        </div>

        <footer class="footer fixed-bottom">
            <div class="container">
                <span class="text-muted">Phát triển bởi đội kỹ sư tương lai</span>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </div>
    </body>
</html>
